.push {
  color: #ffffff !important;
  width: 70%;
}
.dark {
  color: #ffffff !important;
  padding-top: 18px !important;
  padding-bottom: 18px !important;
  z-index: 1;
  /* margin-top: -10px; */

}
.nav{
 display: flex;
 justify-content: space-between;

  width: 320px;
}
.pushs{
text-align: center;
  cursor: pointer;
  color: white;
    width: fit-content;
      padding-left: 20px !important;
  padding-right: 20px !important;
  padding-bottom: 8px;
}
.wowww {
  padding-left: 20px !important;
  padding-right: 20px !important;
    padding-bottom: 8px;
 display: flex;
 justify-content: center;
  cursor: pointer;
  color: white;
    width: fit-content;
}
@media screen and (max-width: 991px) {
  .wowww {
    margin-top: 10px !important;

  }
  .pushs{
text-align: center;
  cursor: pointer;
  color: white;
    width: fit-content;
    margin-top: 10px;
    height: fit-content;
}
}

.mainHeader {
background: rgba( 0, 0, 0, 0.4 ) !important;
backdrop-filter: blur( 10px ) !important;
-webkit-backdrop-filter: blur( 10px )!important;

}

.whip{
background-color: rgb(20, 20, 20);
}

.nav a.active {
  border-bottom:3px solid #FFC121;
  width: fit-content;
}