.brows{
    opacity: 0.4;
    font-size: 14px;
}
.dmnn{
    text-align: center;
    font-size: 30px;
    padding-top: 24px;
}
@media screen and (max-width:991px){
    .killer{
        margin-top: 23px !important;
    }
}

/* .woruri{
    background-color: #ffffff;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

    border-radius: 8px;
    box-shadow: 7px 10px 7px -8px rgba(84,81,81,0.75);
-webkit-box-shadow: 7px 10px 7px -8px rgba(84,81,81,0.75);
-moz-box-shadow: 7px 10px 7px -8px rgba(84,81,81,0.75);
} */


.push-down{
    background-color: #ffffff;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 50px;
    margin-bottom: 25px;
    /* height: 106%; */
    border-radius: 8px;
    border: 1px solid black;
    /* box-shadow: 7px 10px 7px -8px rgba(84,81,81,0.75);
-webkit-box-shadow: 7px 10px 7px -8px rgba(84,81,81,0.75);
-moz-box-shadow: 7px 10px 7px -8px rgba(84,81,81,0.75); */
}

.jikl{
  
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.plsna{
    height: 500px !important;
}
@media screen and (max-width:768px){
    .plsna{
    height: 500px !important;
    width: 100% !important;
}
}



.terapist img {
  max-height: 200px;
  border-radius: 9px;
  border: 1px solid lightgrey;
}

.realise{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pheww{
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
    flex-wrap: wrap;
    /* justify-content: center; */
}
.form-control:focus {
  box-shadow: none !important;
  border-color: #000000 !important;
}
.form-control {
  box-shadow: none !important;
  border-color: #000000 !important;
  /* height:53px; */
}

.form-select:focus{
      box-shadow: none !important;
  border-color: #000000 !important;
}
.form-select{
      box-shadow: none !important;
  border-color: #000000 !important;
  /* width: 100% !important; */
}
.form-label{
    font-size: 13px;
}

.hiih{
    font-size: 15px;
    color: rgb(137, 137, 137);
    /* background-color: rgb(230, 228, 228); */
}
.banb{
    color:black;
    font-weight: 400;
}
